.layout-navbar {
  width: 100%;
  background: #fff;
}

@media (max-width: 800px) {
  .Header {
    display: flex;
    flex-wrap: wrap;

    &-logo {
      height: 70px;
    }

    &-navigation {
      flex-direction: column;
      width: 100%;
    }

    nav.hideMobile {
      display: none;
    }

    li a {
      padding: 25px;
      display: block;
      width: 100%;
      box-sizing: border-box;
    }

    li a.plasma {
      font-size: 18px;
      background: linear-gradient(to bottom, #f8ffad 0%, #c5fff2 100%);
      width: auto;
      height: auto;
      margin: 0;
      transition: background 0.2s, color 0.3s;

      &:hover {
        background: linear-gradient(to bottom, #f8ffad 0%, #c5fff2 100%);
        color: #000;
      }
    }

    .hamburger {
      display: flex;
      width: 80px;
      cursor: pointer;
    }
  }
}
