@import '../scss/helpers/variables.scss';
@import '../scss/helpers/placeholders.scss';
@import '../scss/helpers/functions.scss';

.SearchItem {
  @include clearfix;

  color: $fontColor;
  padding: 10px 20px;
  max-height: 95px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;

  & > i {
    float: left;

    &::before {
      font-size: 95px;
      margin-left: -10px;
      margin-right: 5px;
      margin-top: -5px;
    }
  }

  img {
    height: 80px;
    width: 80px;
    margin: 5px 0 5px 10px;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    margin-left: 10px;

    a {
      color: $fontColor;

      &::first-letter {
        text-transform: uppercase;
      }

      &:hover {
        text-decoration: underline;
      }

      span.term {
        background: #5ad89f;
      }
    }
  }

  p {
    margin: 5px 0;
    margin-left: 10px;
    font-size: 14px;
    padding: 0;
    text-transform: capitalize;
  }
}
